


.list-group:not(.disabled) .list-group-item:hover {
     
        background: #1c6ea4;
        color: #ffffff;
    
}

.list-group:not(.disabled) .list-group-item{
    cursor: pointer;
}

.list-group:not(.disabled) .list-group-item.correct{
    background-color: #68d388;
    color: #ffffff;
}


.list-group:not(.disabled) .list-group-item.incorrect{
    background-color: #ff0028;
    color: #ffffff;
}